.container {
    padding: 0 .2rem;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 80% auto;
    grid-template-areas: "header header header header"
                         "sidebar main main main"
                         "footer footer footer footer";
    gap: 0.5rem;
}

.header {
    /* grid-column: 1 / -1;
    grid-row: 1 / 2; */
    background-color:#fdf490;
    grid-area: header;
}

.sidebar {
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
    background-color: rgb(155, 180, 255);
    grid-area: sidebar;
}

.main-content {
    /* grid-column: 2 / -1;
    grid-row: 2 / 3; */
    background-color: rgb(173, 255, 208);
    grid-area: main;
}

.footer {
    /* grid-column: 1 / -1;
    grid-row: 3 / 4; */
    background-color: rgb(255, 171, 157);
    grid-area: footer;
}

.paddings {
    /* margin: 0.25rem; */
    border-radius: 5px;
}

@media (max-width: 40rem) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 70% auto auto;
        grid-template-areas: "header"
                            "sidebar"
                            "main"
                            "footer";
        gap: 0
    }
}