body::-webkit-scrollbar {
    width: 0;
}

#product-overview {
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent), url("images/freedom.jpg") left 10% bottom 70%/cover no-repeat border-box, #ff1869;
    height: 40vh;
    width: 100vw;
    /* margin-top: 1rem; */
    position: relative
}

#product-overview h1 {
    color: white;
    font-family: Lato, sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 2rem;
}

@media (min-width: 40rem) {
    #product-overview {
        background-position: 50% 35%;
        height: 60vh;
        /* margin-top: 3.125rem */
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

@media (min-width: 60rem) {
    #product-overview {
        background-position: 50% 35%;
        height: 60vh;
    }

    #product-overview h1 {
        font-size: 5rem;
    }
}

.section-title {
    color: #2ddf5c;
    text-align: center;
    
}

.plan__list {
    display: flex;
    flex-direction: column;
}

.plan {
    background: #d5ffdc;
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.plan__annotation {
    background-color: rgb(255, 255, 255);
    color: #19b84c;
    border-radius: 5px;
    padding: .3125rem 0px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.plan__features {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & .plan__feature {
        margin: .5rem 0
    }
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .plan {
        width: 30%;
        height: 25rem;
        vertical-align: middle;
        min-width: 13rem;
        max-width: 25rem;
        margin: 0 0.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plan--highlight {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        height: 28rem;
    }

    .article h3 {
        margin: 0.5rem;
    }

    .plan__annotation {
        width: 100%;
    }
}

.plan__title {
    color: #0e4f1f;
    margin: 0.5rem;
}

.plan__price {
    color: #858585;
    margin: 0.5rem;
}

.plan--highlight {
    background-color: #19b84c;
    color: white;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
    & .plan__title {
        color: white
    }
    & .plan__price {
        color: #0e4f1f;
    }
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
    border: 1.5px solid white;
}

.button:focus {
    outline: none;
}

#key-features {
    background-color: #ff1869;
    margin-top: 5rem;
    & .section-title {
        color: white;
        margin: 2rem;
        padding: 1rem;
    }
}

.key-feature__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.key-feature {
    /* width: 32%; */
    /* flex: 1; */
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;

}


@media (min-width: 40rem) {

    .key-feature__list {
        flex-direction: row;
        justify-content: center;
    }
}

.key-feature__description {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    padding: 1.25rem;
}

.modal {
    position: fixed;
    display: none;
    transform: translateY(-3rem);
    opacity: 0;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }