@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3rem;
}

.backdrop {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2ddf5c;
  padding: 0 0.625rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & li {
    display: inline-block;
  }
  
}

@media (min-width: 40rem) {
  .main-header {
    height: inherit;
  }
}

.main-nav__item a,
.mobile-nav__item a {
  margin-left: 1rem;
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background-color: #ff1869;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.main-nav__item--cta a:hover,
.mobile-nav__item--cta a:hover {
  color: #ff1869;
  background-color: white;
  border: none;
}

.header-list {
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.375rem;
  height: 2rem;
  vertical-align: middle;
  margin: 0.2rem;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 0
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.main-nav {
  display: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

@media (min-width: 40rem) {
  .main-nav {
    display: flex;
  }
}

.main-nav__items {
  
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: block;
  margin: 1rem 0;
  & a {
    color: white;
    text-decoration: none;
  }
  & a:hover,
  a:active {
    color: #ccc;
  }
}

@media (min-width: 40rem) {
  .main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.3rem 0;
}

.open {
  display: block !important;
}

