main {
    padding-top: 2rem;
}

.background {
    background: url('../images/plans-background.jpg') center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.plan {
    border: 0.2rem solid #0e4f1f;
    width: 80%;
    padding: 1rem;
    margin: 0.5rem 0;
    position: relative;
    & a {
        text-decoration: none;
        color: black;
    }
}

.plan:hover,
.plan:active {
    border: 0.2rem solid #FE5B4A;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.plan__title {
    color: black;
}

.plan__subtitle {
    color: #838383;
}

.plan__badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.3rem 1.25rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    background-color: #ff5454;
    z-index: 10;
}

.plan__description {
    color: #0e4f1f;
    border: 0.2rem solid #0e4f1f;
    padding: 1rem;
    background-color: white;
    font-size: 1.25rem
}

.plan--plus {
    background-color: rgba(207, 247, 216, 0.903);
    border-left: none;
    margin-top: 2.5rem;
    position: relative;
    z-index: 1;
}



.plan--free {
    background-color: rgba(232, 248, 236, 0.903);
    border-right: none;
    float: right;
}



.clearfix {
    clear: both;
}

.plan--premium {
    background-color: rgba(14, 79, 31, 0.901);
    border-left: none;
    & .plan__title {
        color: white;
    }
}

.plan--premium:hover {
    border-left: none;
}

@media (min-width: 40rem) {
    main {
        max-width: 1500px;
        margin: 3.5 auto;
    }

    .plan {
        border: 0.2rem solid #0e4f1f; 
    }

    .plan:hover {
        border: 0.2rem solid #FE5B4A;
    }
}

@media (max-width: 1500px) {
    .plan--free:hover {
        border-right: none;
    }

    .plan--plus:hover {
        border-left: none;
    }
}